*{
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body{
  max-width: 1440px;
  margin: 0 auto;
}
/*-----------------Main-menu-------------------*/
.menu{
  border-radius: 0;
  margin-bottom: 0;
}
.btn__main-menu{
  margin-top: 10px;
  background-color: inherit;
}

.navbar{
  min-height: 55px;
}

.nav li a:hover{
  border-bottom: 1px solid white;
}

/*-----------------Presentation-------------------*/
.presentation{
  position: relative;
  min-height: 855px;
  padding-left: 0;
  background: rgba(21, 30, 52, 0.8) url("../images/background/bg_presentation.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
}

.presentation-filter{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 30, 52, 0.6);
}

.presentation-headline{
  margin-bottom: 10px;
}

.presentation__headline-text{
  margin-top: 45px;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  color: #f6c606;
  text-shadow: -3px 3px 3px #b7b094;
}

.presentation__headline-text span{
  font-size: 50px;
  color:#f6062d;
}

.presentation-oldPrice{
  margin-bottom: 0;
  font-size: 24px;
  text-decoration: line-through;
  color: #ffffff;
  text-align: left;
}

.presentation-newPrice{
  margin-left: 10%;
  margin-bottom: 0;
  font-size: 36px;
  text-align: left;
  color: #e1be30;

}

/*-----------------Order-form-------------------*/

.presentation__order-headline{
  text-align: center;
  margin-top: 180px;
  font-size: 24px;
  color:#f4f1f1;
  margin-bottom: 30px;
}

.presentation__order-list{
  text-align: center;
  list-style: none;
}

.presentation__order__list-item{
  display: inline-block;
  width: 215px;
}

.presentation__order__list-item:nth-child(4){
  margin-top: 30px;
}

.field{
  text-align: center;
  border: 5px solid #b4b4b4;
  height: 50px;
  background-color: inherit;
  color: #f4f1f1;
}

.btn__order{
  height: 55px;
  width: 70%;
  background-color: inherit;
}

.presentation__content-image{
  margin-bottom: 50px;
}

/*-----------------Features-------------------*/
.features{
  min-height: 455px;
  background-color: #e9e4e4;
}

.features-content:hover{
  background-color: #bab5b5;
  cursor: pointer;
}

.features-content p{
  font-size: 20px;
}

.features__content-circle{
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 15px;
  height: 150px;
  width: 150px;
  background-color: #d3cccc;
     -o-border-radius: 50%;
   -moz-border-radius: 50%;
    -ms-border-radius: 50%;
-webkit-border-radius: 50%;
}

.features__content__circle-pic{
  margin: calc(50% - 43px);
}

/*-----------------Gallery-------------------*/
.gallery{
  min-height: 800px;
  background: #591111 url("../images/background/bg_gallery.png") no-repeat;
}

.gallery-slogan{
  margin-top: 30px;
}

.gallery-slogan h4{
  font-size: 16px;
  text-align: center;
  color: #ff6d6d;
  text-transform: uppercase;
}

.gallery-headline h1{
  font-size: 40px;
  vertical-align: bottom;
  text-align: center;
  color: #f986bf;
}

.gallery__textContent-content{
  width: 62%;
  margin: 0 auto;
}

.gallery-textContent p{
  line-height: 26px;
  font-size: 16px;
  text-align: center;
  color: #f986bf;
}

.gallery__images-frame{
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width:94%;
  min-height: 512px;
  background: #e2e1e2;
  background-position: bottom center;
  -o-border-radius: 10%;
-moz-border-radius: 10%;
 -ms-border-radius: 10%;
-webkit-border-radius: 10%;
}

.gallery__images-frame .row1{
  padding-top: 30px;
}

.gallery__images-frame .row2{

}

.gallery__images-frame img{
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}

/*-----------------Order-------------------*/
.order{
  position: relative;
  min-height: 330px;
  background-color: #323969;
}

.order-slogan{
  margin-top: 30px;
}

.order-slogan h4{
  font-size: 16px;
  text-align: center;
  color: #ff6d6d;
  text-transform: uppercase;
}

.order__headline-formation{
  width: 60%;
  margin: 0 auto;
}

.order-headline h1{
  font-size: 40px;
  vertical-align: bottom;
  text-align: center;
  color: #ffffff;
}

.order-headline span{
  font-size: 40px;
  text-transform: uppercase;
  color: #f4f655;
}

.order-cotainer{
  margin-top: 55px;
}

.order__form-list{
  text-align: center;
  list-style: none;
}

.order__form__list-item{
  display: inline-block;
  margin-right: 40px;
}

.btn_buy{
  height: 55px;
  background-color: inherit;
}

.order-callSlogan{
  position: absolute;
  top: 55%;
  left: 57%;
}

.order-callSlogan p{
  vertical-align: bottom;
  font-size: 14px;
  color: #c5c3c5;
}

.order-callSlogan p .direction{
  margin-left: 55%;
}

/*-----------------Reviews-------------------*/
.reviews{
  min-height: 800px;
  background-color: #e9e4e4;
}

.reviews>.container{
  margin-top: 20px;
}

.reviews .container .row:last-child{
  margin-bottom: 20px;
}
/*-----------------Reviews__bootstrap__snippets-------------------*/
.testimonial{
    margin-bottom: 10px;
}

    .testimonial-section {
        width: 100%;
        height: auto;
        padding: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        position: relative;
        border: 1px solid #fff;
    }
    .testimonial-section:after {
        top: 100%;
        left: 50px;
        border: solid transparent;
        content: " ";
        position: absolute;
        border-top-color: #fff;
        border-width: 15px;
        margin-left: -15px;
    }

    .testimonial-desc {
        margin-top: 20px;
        text-align:left;
        padding-left: 15px;
    }
        .testimonial-desc img {
            border: 1px solid #f5f5f5;
            border-radius: 150px;
            height: 70px;
            padding: 3px;
            width: 70px;
            display:inline-block;
            vertical-align: top;
        }

        .testimonial-writer{
            display: inline-block;
            vertical-align: top;
            padding-left: 10px;
        }

            .testimonial-writer-name{
                font-weight: bold;
            }

            .testimonial-writer-designation{
                font-size: 85%;
            }

            .testimonial-writer-company{
                font-size: 85%;
            }

.testimonial.testimonial-default-filled{

}
    .testimonial.testimonial-default-filled .testimonial-section{
        color: #fff;
        border-color: #777;
        background-color: #777;
    }

        .testimonial.testimonial-default-filled .testimonial-section:after{
            border-top-color: #777;
        }

    .testimonial.testimonial-default-filled .testimonial-desc{

    }

        .testimonial.testimonial-default-filled .testimonial-desc img{
            border-color: #777;
            background-color: #777;
        }

        .testimonial.testimonial-default-filled .testimonial-writer-name{
            color: #777;
        }
/*-----------------end__Reviews__bootstrap__snippets-------------------*/
/*-----------------Characteristics-------------------*/
.characteristics{
  min-height:650px;
  background: #591111 url("../images/background/bg_character.jpg");
}

.characteristics-display{
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 20px;
  width:100%;
  min-height: 510px;
  background: #e2e1e2;
  -o-border-radius: 10%;
-moz-border-radius: 10%;
 -ms-border-radius: 10%;
-webkit-border-radius: 10%;
}

.characteristics__display-headline{
  display: inline-block;
  text-align: center;
  font-size: 48px;
  margin-bottom: 30px;
}

.characteristics__display__main-list_dotted,
.characteristics__display__main-list_value{
  list-style: none;
}

.characteristics__display-table{
  border: none;
}

.characteristics__display-table tr:nth-child(2n){
  background-color: #cbcacb;
}

.characteristics__display-table td{
  font-size: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

.characteristics__display-table td:first-child{
  padding-left: 0;
}

.characteristics__display__main-images{
  padding: 0;
}

.characteristics__display__main__images-items{
  float: left;
  width: 40%;
}

 .characteristics__display__main__images-items img{
  display: block;
  margin: 0;
  width: 100%;
}

.characteristics__display__main__images-items:first-child{
  margin-top: 70px;
  margin-left: 8.547008547008547%;
  margin-right: 5.128205128205128%;
}
